<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>servlet1</servlet-name>
        <servlet-class>servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet2</servlet-name>
        <servlet-class>servlets.ServletConsumidor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet3</servlet-name>
        <servlet-class>servlets.ServletMercado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet4</servlet-name>
        <servlet-class>servlets.ServletProfeco</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servlet5</servlet-name>
        <servlet-class>servlets.ServletNotificaciones</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servlet1</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet2</servlet-name>
        <url-pattern>/consumidor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet3</servlet-name>
        <url-pattern>/mercado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servlet4</servlet-name>
        <url-pattern>/profeco</url-pattern>
    </servlet-mapping>
        <servlet-mapping>
        <servlet-name>servlet5</servlet-name>
        <url-pattern>/notificaciones</url-pattern>
    </servlet-mapping>
    
</web-app>
